{% extends "navegacion.html" %}
{% block contenido %}
<div class="fondocata">
<div class="container">
    <br>
    <br>
    <div class="alert alert-primary text-center">
        <h4>La institucion Huehuetlahtolli, donde podras obtener información, asi como ayuda para un problema encontrado.
            Se encuentra en la siguiente dirección: </h4>
        <h2>Calle Almendra 30-a, Santa Teresa, Col Santa Teresa, Méx.</h2>
        <p>El instituto está ubicado entre 2 avenidas principales llamadas paseo del mango y Av. Madrid
             y una carretera ruta 87 y 57D</p>
    </div>
</div>
<br>
<div class="container">
    <br>
    <br>
    <div class="alert alert-success">
        <h1 class="text-center">Soporte</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <span>Atencion a clientes:</span>
                    <h5 class="card-title">LLAMAR AL NUMERO</h5>
                    <p class="card-text">7122113081</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <span>Para un reporte de error.</span>
                    <h5 class="card-title">Escribir al correo:</h5>
                    <p class="card-text">sanchez.bautista.m117@gmail.com</p>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="col-12">
            <div class="card text-center">
                <div class="card-body">
                    <span style="text-align: center;">Para el llenado del Reporte de Fallos</span>
                    <a class="card-text" href="#" download="reporte de Fallos.docx"
                        style="text-align: center;">DESCARGAR REPORTE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
</div>
</div>
{% endblock %}