<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio de Sesión</title>
 
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                <img src="/static/img/avatar.png">
            </div>
         <form class="col-12"
             action="/login" method="POST" enctype="multipart/form-data">
                <div class="form-group" id="email-group">
                    <input type="text" name="name" class="form-control" placeholder="name"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
                <div class="form-group" id="contraseña-group">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
            </form> 
        </form>
        <a href="/register">
            ¿Eres nuevo? Registrate.
        </a>
    </div>
    </div>
</body>
</html>